<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4" style="text-align: center">
    <h2>Test it out as one of these users!</h2>
    <form role="form">
      <a class="btn btn-default" href='#' role="button" ng-click="getJohn()">Jim</a>
      <a class="btn btn-default" href='#' role="button" ng-click="getJane()">Jane</a>
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4" style="text-align: center">
    <h2>Or add a new user:</h2>
    <form role="form">
      <input type="text" ng-model="newUser.name">
      <button ng-click="addUser()" class="btn btn-default">Add New User</button>
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>