<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-5">
		<!-- HEADER -->
		<h2 style="margin-top: 0px">{{current_user.name.split(" ")[0]}}, make a new list!</h2>
	</div>
	<div class="col-md-2">
		<!-- LOGOUT BUTTON -->
		<button ng-click="logout()" class="btn btn-primary">Logout</button>
	</div>
	<div class="col-md-2">
	</div>
</div>
<form class="form-horizontal">
	<div class="row" style="margin-top: 10px">
		<div class="col-md-3">
		</div>
		<div class="col-md-4">
			<!-- LIST TITLE -->
			<input type="text" class="form-control" placeholder="List title:" ng-model="newList.title">
		</div>
		<div class="col-md-5">
		</div>
	</div>
	<div class="row" style="margin-top: 10px">
		<div class="col-md-3">
		</div>
		<div class="col-md-4">
			<!-- ITEMS DIV -->
			<div style="height: 200px; border: 1px solid black; overflow: auto; margin-bottom: 10px">
				<p style="margin: 5px" ng-repeat="item in items">{{item.item}} <span style="color: grey">- {{item.user}}</span></p>
			</div>
		</div>
		<div class="col-md-2">
			<!-- SAVE LIST BUTTON -->
			<button ng-click="saveList()" class="btn btn-danger">Save List</button>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</form>
<form class="form-horizontal">
	<div class="row" style="margin-top: 10px">
		<div class="col-md-3">
		</div>
		<div class="col-md-4" style="margin-bottom: 10px">
			<!-- ADD A NEW LIST ITEM INPUT -->
			<input type="text" class="form-control" placeholder="Enter a new list item here:" ng-model="newItem.name">
		</div>
		<div class="col-md-2">
			<!-- ADD ITEM BUTTON -->
			<button ng-click="addItem()" class="btn btn-success">Add Item</button>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</form>
<div class="row" style="margin-top: 10px">
		<div class="col-md-5">
		</div>
		<div class="col-md-2" style="margin-bottom: 10px">
			<!-- CANCEL AND GO BACK -->
			<a href="#/profile" class="btn btn-default">Cancel</a>
		</div>
		<div class="col-md-5">
		</div>
	</div>