<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-5">
		<!-- HEADER -->
		<h2 style="margin-top: 0px">Find users you haven't added yet:</h2>
	</div>
	<div class="col-md-3">
		<!-- CANCEL AND GO BACK -->
		<a href="#/profile" class="btn btn-default">Back to Profile</a>
		<!-- LOGOUT BUTTON -->
		<button ng-click="logout()" class="btn btn-primary">Logout</button>
	</div>
	<div class="col-md-2">
	</div>
</div>
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Enter a name..." ng-model="userSearch">
			</div>
		</form>
		<div style="height: 200px; border: 1px solid black; overflow: auto; margin-bottom: 10px; margin-top: 10px">
			<p style="margin: 5px" ng-repeat="user in users | filter: userSearch">{{user.name}} <button ng-click="addShopper(user._id)" class="btn btn-xs btn-success">Add Shopper</button></p>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>